# Replace with your real settings
NEXT_PUBLIC_SITE_URL=https://your-domain.vercel.app
NEXT_PUBLIC_FORMSPREE_FORM_ID=YOUR_FORMSPREE_FORM_ID
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
